<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Modify Manager Credentials</title>
</head>

<body>
    <div class="container mt-5">
        <a href="/manager-dashboard" class="btn btn-primary mt-3">Back to Manager Dashboard</a>
    </div>
    <div class="container mt-5">
        <h1>Modify Your Credentials</h1>
        <form action="/modify-manager" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Enter new email">
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" id="first_name"
                    placeholder="Enter new first name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name"
                    placeholder="Enter new last name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password"
                    placeholder="Enter new password">
            </div>
            <button type="submit" class="btn btn-primary">Update Credentials</button>
        </form>
    </div>
</body>

</html>