body {
  background-color: #98edd6;
}

.login {
  min-height: 100vh;
}

.bg-image-client {
  background-image: url("/images/bg-image-client.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
}

.bg-image-manager {
  background-image: url("/images/bg-image-manager.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.login {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 20px;
}

.login-heading .highlight,
.login-heading strong {
  font-weight: bold;
  color: rgb(35, 148, 133);
}

.login-heading .highlight {
  font-size: 1.25em;
  padding: 0 5px;
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 4px;
  display: inline-block;
}

.highlight:hover {
  background-color: rgba(0, 123, 255, 0.2);
  animation: jiggle 0.5s;
  animation-iteration-count: infinite;
}

@keyframes jiggle {

  0%,
  100% {
      transform: translateX(-2px);
  }

  50% {
      transform: translateX(2px);
  }
}
